@model ikt.ViewModels.SearchIndexViewModel
@using PagedList.Mvc
@using ikt.Models
@{
    ViewBag.Title = "Starting page";
}

@using (Html.BeginRouteForm("Default", FormMethod.Get))
{
    @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Sök", @value = Model.Search })
    @Html.DropDownList("SubjectID", null, "Alla", htmlAttributes: new { @class = "form-control" })
    <label>Sortera: </label> @Html.DropDownListFor(vm => vm.SortBy,
                    new SelectList(Model.Sort, "Value", "Key"),
                    "-",
                    new { @class = "form-control" })
    <label>Årskurs: </label> @Html.DropDownListFor(vm => vm.Grade,
                            new SelectList(Model.GradeList, "Value", "Key"),
                            "-",
                            new { @class = "form-control" })
    <button type="submit" class="btn btn-default">Sök</button>
}

<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Visar " : "Du sökte efter " + Model.Search + ", hittade ") @Model.SearchResult.TotalItemCount resultat.
</p>

@Html.PagedListPager(Model.SearchResult, page => Url.Action("Index",
     new
     {
         search = Model.Search,
         subjectID = Model.SubjectID,
         sortBy = Model.SortBy,
         grade = Model.Grade,
         page
     }))

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchResult.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchResult.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchResult.First().Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchResult.First().Grade)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.SearchResult)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @if (item.Grade > 0)
                {
                    @Html.DisplayFor(modelItem => item.Grade)
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", item.Type + "s", new { id = item.ItemID }, null)
            </td>
        </tr>
    }
</table>