

@model ikt.ViewModels.SearchIndexViewModel
@using PagedList.Mvc
@using ikt.Models
@{
    ViewBag.Title = "Startsida";
}
<div class="search">
    @using (Html.BeginRouteForm("Default", FormMethod.Get)){
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @Html.TextBox("Search", null, new { @class = "form-control searchBar", @placeholder = "Sök", @value = Model.Search })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label>Ämnen: </label>
            @Html.DropDownList("SubjectID", null, "Alla", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label>Årskurs: </label> 
            @Html.DropDownListFor(vm => vm.Grade,new SelectList(Model.GradeList, "Value", "Key"),"Alla",new { @class = "form-control" })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label>Sortera: </label> 
            @Html.DropDownListFor(vm => vm.SortBy,new SelectList(Model.Sort, "Value", "Key"),"-",new { @class = "form-control" })
        </div>
    </div>
<button type="submit" class="btn btn-default">Sök</button>

    }
</div>

<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Visar " : "Du sökte efter " + Model.Search + ", hittade ") @Model.SearchResult.TotalItemCount resultat.
</p>

@Html.PagedListPager(Model.SearchResult, page => Url.Action("Index",
     new
     {
         search = Model.Search,
         subjectID = Model.SubjectID,
         sortBy = Model.SortBy,
         grade = Model.Grade,
         page
     }))
<div class="grid-container">
    @foreach (var item in Model.SearchResult)
    {
        <div class="item">
            <a href="@Url.Action("Details", item.Type + "s", new {id=item.ItemID })"><div class="card">
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                @if (item.Grade > 0){ @Html.Raw("Årskurs ") @Html.DisplayFor(modelItem => item.Grade) }
            </div></a>
        </div>
    }
</div>