@using ikt.Models
@model ikt.ViewModels.IktDetailsViewModel

@{
    ViewBag.Title = "Details";
}



<h2 id="vDetails_Headline">@Html.DisplayFor(model => model.Ikt.Name)</h2>
<hr />
<div class=" col-md-12">

    <div class="col-md-3">
        <dt>
            @Html.DisplayNameFor(model => model.Ikt.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ikt.Name)
        </dd>
        <dt>
            Lärare
        </dt>
        @foreach (var staff in Model.IktStaff)
        {
            <dd>
                @staff.Staff.FirstName @staff.Staff.LastName
            </dd>
        }
        <dt>
            Klasser
        </dt>
        @foreach (var klass in Model.IktClass)
        {
            <dd>
                @klass.Class.Name
            </dd>
        }
        <dt>
            @if (!string.IsNullOrEmpty(Model.Ikt.Link))
            {
                @Html.Display("Länkar");
            }
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ikt.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ikt.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ikt.CreatedDate)
        </dd>

        </dl>

    </div>
    <div class="col-md-9">
        <dt>
            @Html.DisplayNameFor(model => model.Ikt.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ikt.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ikt.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ikt.Comment)
        </dd>

    </div>
</div>

<div class="row">
    @{
        ikt.DAL.iktContext iktContext = new ikt.DAL.iktContext();
        string username = (string)HttpContext.Current.Session["Username"];
        Staff currentStaff = iktContext.Staff.Where(s => s.Username == username).Single();
        IktStaff iktStaff = iktContext.IktStaffs.Where(s => s.IktID == Model.Ikt.ID && s.StaffID == currentStaff.ID).SingleOrDefault();
    }
    @if (iktStaff == null)
    {
        @Html.ActionLink("Lägg till mig som användare av verktyget!", "AddStaff", new { staffID = currentStaff.ID, iktID = Model.Ikt.ID }, new { @class = "btn btn-success" })
    }
    else
    {
        @Html.ActionLink("Ta bort mig som användare av verktyget!", "RemoveStaff", new { id = iktStaff.ID, iktID = Model.Ikt.ID }, new { @class = "btn btn-danger" })
    }
</div>
<hr />
<div class="col-md-12">
    @Html.ActionLink("Tillbaka", "Index", "Home", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ikt.ID }, new { @class = "btn btn-default" })
</div>
