@using ikt.Models
@model ikt.ViewModels.IktDetailsViewModel

@{
    ViewBag.Title = "Verktyg";
}

<h2>@Html.DisplayFor(model => model.Ikt.Name)</h2>
<h4>@ViewBag.Title</h4>
<hr />
<div class=" col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <dl>
                <dt>
                    Lärare
                </dt>
                @foreach (var staff in Model.IktStaff)
    {
            <dd>
                @staff.Staff.FirstName @staff.Staff.LastName
            </dd>
}
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    Klasser
                </dt>
                @foreach (var klass in Model.IktClass)
                {
                    <dd>
                        @klass.Class.Name
                    </dd>
                }
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    @if (!string.IsNullOrEmpty(Model.Ikt.Link))
                    {
                        @Html.Raw("Länkar");
                    }
                </dt>
                <dd>
                    <a href="@Model.Ikt.Link" target="_blank">@Html.DisplayFor(model => model.Ikt.Link)</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Ikt.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ikt.Description)
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Ikt.Comment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ikt.Comment)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="row">
    @{
        ikt.DAL.iktContext iktContext = new ikt.DAL.iktContext();
        string username = (string)HttpContext.Current.Session["Username"];
        Staff currentStaff = iktContext.Staff.Where(s => s.Username == username).Single();
        IktStaff iktStaff = iktContext.IktStaffs.Where(s => s.IktID == Model.Ikt.ID && s.StaffID == currentStaff.ID).SingleOrDefault();
    }
    
</div>
<div class="form-group btn-StickBottom">
    @Html.ActionLink("Tillbaka", "Index", "Home", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Ikt.ID }, new { @class = "btn btn-default" })
    @if (iktStaff == null)
    {
        @Html.Raw(" ")
        @Html.ActionLink("Lägg till mig som användare av verktyget!", "AddStaff", new { staffID = currentStaff.ID, iktID = Model.Ikt.ID }, new { @class = "btn btn-success" })
    }
    else
    {
        @Html.Raw(" ")
        @Html.ActionLink("Ta bort mig som användare av verktyget!", "RemoveStaff", new { id = iktStaff.ID, iktID = Model.Ikt.ID }, new { @class = "btn btn-danger" })
    }
    @Html.Raw(" ")
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ta bort projektet</button>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-danger">Varning!</h4>
            </div>
            <div class="modal-body">
                <h4>Är du säker på att du vill ta bort verktyget @Model.Ikt.Name?</h4>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Ta bort", "Delete", new { id = Model.Ikt.ID }, new { @class = "btn btn-danger" })
                <button type="button" class="btn btn-info" data-dismiss="modal">Stäng</button>
            </div>
        </div>

    </div>
</div>