<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{ 
        if (!Login.CheckIfValidUser(User.Identity.Name))
        {
            Response.Redirect(Url.Action("SignOut", "Account"));
        }
        else
        {
            ViewBag.Staff = Login.GetStaffInfo(User.Identity.Name);
            if (ViewBag.Staff.Username == "invalid")
            {
                Response.Redirect(Url.Action("Create", "Staffs", new { Username = User.Identity.Name.Split('@')[0] }));
            }
        }
        ViewBag.Test = "Hello";
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img src="~/Content/Images/LoggaEdit.png" alt="logga" width="90" height="60" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Lägg till
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="NavbarDropdownItem">@Html.ActionLink("Projekt", "Create", "Projects")</li>
                            <li class="NavbarDropdownItem">@Html.ActionLink("Verktyg", "Create", "Ikts")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IKT & Projekt Biblotek</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
