<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>@ViewBag.Title - Verktyg & Projekt Bibliotek</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        if (!Login.CheckIfValidUser(User.Identity.Name))
        {
            Response.Redirect(Url.Action("SignOut", "Account"));
        }
        else
        {
            ViewBag.Staff = Login.GetStaffInfo(User.Identity.Name);
            if (ViewBag.Staff.Username == "invalid")
            {
                Response.Redirect(Url.Action("Create", "Staffs", new { Username = User.Identity.Name.Split('@')[0] }));
            }
        }
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img class="loggo" src="~/Content/WebImages/Loggo.png" alt="logga" width="55" height="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Lägg till
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Projekt", "Create", "Projects")</li>
                            <li>@Html.ActionLink("Verktyg", "Create", "Ikts")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p class="footerText" id="copyrighter">&copy; @DateTime.Now.Year - IKT</p>
        <p class="footerText">T4</p>
        <p class="footerText">Tillämpad Programmering</p>
        <p class="footerText"><a href="https://github.com/t4ed/ikt-inventering">Github Projektsida</a></p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
