@model ikt.Models.Project

@{
    ViewBag.Title = "Projekt";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h4>@ViewBag.Title</h4>
<hr />
<div class=" col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Subject.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Subject.Name)
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Grade)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Grade)
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        @if (!string.IsNullOrEmpty(Model.PDF))
        {
        <div class="form-group">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.PDF)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PDF)
                </dd>
            </dl>
        </div>
        }
    </div>
</div>
<div  class="form-group btn-StickBottom">
    @Html.ActionLink("Tillbaka", "Index", "Home", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Redigera", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
</div>
